
<div id="header"></div>
<div id="content-container" class="container">

  <div id="sideview" class="col-xs-3">
  </div>

  <div id="main-content" class="col-xs-9">
    <div id="" class="container-fluid content-header"></div>
    <div id="mainview" class="row"></div>
  </div>

</div>

<script>
  $(document).ready(function(){
    Traverse.userId = <%=current_user.id%>;
    Traverse.name = "<%=current_user.name%>";
    Traverse.initialize();
  });
</script>
