
<div id="header"></div>

<div id="content-container" class="container">
  <div id="sideview" class="col-xs-3">

    <div class="placeholder-2">
      <button id="edit-profile-button" class="btn btn-primary btn-block no-border-radius">
        Edit Profile
      </button>
    </div>

  </div>
  <div id="mainview" class="col-xs-7">
    <div class="placeholder-2">
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    Traverse.userData = <%=current_user_data%>;
    Traverse.initialize();
  });
</script>
