
<div id="header"></div>

<div id="content-container" class="container">
  <div id="sideview" class="col-xs-3">

    <div class="placeholder-2">
      <%= image_tag 'defaultpic.png', class: 'placeholder-2' %>
      <a href="/#profile/edit"><button id="edit-profile-button" class="btn btn-primary btn-block no-border-radius">
        Edit Profile
      </button></a>
    </div>

  </div>
  <div id="main-content" class="col-xs-9">
    <div class="container-fluid content-header">
      <h3>Header Goes here</h3>
    </div>
    <div class="row">
      <div id="mainview" class="col-xs-8">
        <div class="placeholder-2">
        </div>
      </div>
      <div id="flashview" class="col-xs-4">
        <div class="placeholder-2">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    Traverse.userId = <%=current_user.id%>;
    Traverse.name = "<%=current_user.name%>";
    Traverse.initialize();
  });
</script>
