<div id="log-in" style="display:none;" class="my-modal center-text">
  <ul id="log-in-errors">

  </ul>
  <form id="log-in-form" action="" method="post">
    <h3>Welcome back!</h3>
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="text" name="user[email]" value="" placeholder="Email"><br>
    <input type="password" name="user[password]" value="" placeholder="Password"><br>
    <button class="btn" type="submit" name="name">Log In</button>
  </form>
</div>

<script>

  $("#log-in-button").leanModal();
  $('#log-in-form').on('submit', function (event) {
    event.preventDefault();
    var data = $(event.currentTarget).serializeJSON();
    $.ajax({
       url: "/session",
       data: data,
       dataType: "json",
       method: "POST",
       error: function (response) {
         var errorsDisplay = $('#log-in-errors');
         errorsDisplay.empty();
         response.responseJSON.forEach(function(error){
           var error = $("<li>").html(error).append("<br>");
           errorsDisplay.append(error);
         })
       },
       success: function () {
         window.location = '/';
       }
    });
  })
</script>
