<div id="log-in" style="display:none;" class="my-modal center-text">
  <form class="" action="" method="post">
    <h3>Welcome back!</h3>
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="text" name="user[email]" value="" placeholder="Email"><br>
    <input type="password" name="user[password]" value="" placeholder="Password"><br>
    <button class="btn" type="submit" name="name">Log In</button>
  </form>
</div>

<script>$("#log-in-button").leanModal();</script>

// <script type="text/javascript">
//   $('#login-form').on('submit', function (arguments) {})
// </script>
