<div id="sign-up" style="display:none;" class="my-modal center-text">
  <ul id="sign-up-errors">

  </ul>
  <form id="sign-up-form" action="" method="post">
    <h3>Hello, new user!</h3>
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="text" name="user[email]" value="" placeholder="Email"><br>
    <input type="password" name="user[password]" value="" placeholder="Password"><br>
    <input type="text" name="user[fname]" value="" placeholder="First"><br>
    <input type="text" name="user[lname]" value="" placeholder="Last"><br>
    <input id="city" type="text" name="user[city]" value="" placeholder="Where are you from?"><br>
    <label for="birthday">Birthday</label>
    <input id="birthday" type="date" name="user[birthday]" value="" placeholder="birthday"><br>

    <input type="hidden" geodata="locality" name="trip[city]">
    <input type="hidden" geodata="lat" name="trip[lattitude]">
    <input type="hidden" geodata="lng" name="trip[longitude]">
    <input type="hidden" geodata="administrative_area_level_1_short" name="trip[state]">
    <input type="hidden" geodata="country_short" name="trip[country]">

    <button class="btn" type="submit" name="name">Sign Up</button>
  </form>
</div>

<script>

  $("#sign-up-button").leanModal();
  $('#sign-up-form').on('submit', function (event) {
    event.preventDefault();
    var data = $(event.currentTarget).serializeJSON();
    $.ajax({
       url: "/users",
       data: data,
       dataType: "json",
       method: "POST",
       error: function (response) {
         var errorsDisplay = $('#sign-up-errors');
         errorsDisplay.empty();
         response.responseJSON.forEach(function(error){
           var error = $("<li>").html(error).append("<br>");
           errorsDisplay.append(error);
         })
       },
       success: function () {
         window.location = '/';
       }
    });
  })

  $("#city").geocomplete({
    details: "#sign-up-form",
    detailsAttribute: "geodata"
  });
</script>
