<div id="sign-up" style="display:none;" class="my-modal center-text">
  <form class="" action="" method="post">
    <h3>Hello, new user!</h3>
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="text" name="user[email]" value="" placeholder="Email"><br>
    <input type="password" name="user[password]" value="" placeholder="Password"><br>
    <input type="text" name="user[fname]" value="" placeholder="First"><br>
    <input type="text" name="user[lname]" value="" placeholder="Last"><br>
    <input type="date" name="user[birthday]" value="" placeholder="birthday"><br>
    <br>
    <button class="btn" type="submit" name="name">Sign Up</button>
  </form>
</div>

<script>$("#sign-up-button").leanModal();</script>
