<div id="banner" class="jumbotron">
  <div id="sign-up-button"
       class="btn btn-primary pull-right user-portal-button"
       href="#sign-up">
    Create Account
  </div>

  <div id="log-in-button"
       class="btn btn-primary pull-right user-portal-button"
       href="#log-in">
    Log In
  </div>
  <div class="container center-text">
    <h1>Time for a journey</h1>
    <h4>Find, meet, and make friends everywhere you go.</h4>
    <p>Just visiting?</p>
    <div id="jumbotron-button" class="btn">
      Explore As Guest
    </div>
  </div>
</div>

<div id="information" class="row">
  <div id="page-content">
    <div class="container-fluid center-text">
      <h2>Short catchy statement.</h2>
      <p> A little bit of extra explanation with a period at the end.</p>
    </div>
    <div class="row">
      <div id="center-content" class="col-xs-6 col-xs-offset-3">
        <div class="placeholder"></div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
      </div>
    </div>
  </div>
</div>

<%= render 'sessions/log_in' %>
<%= render 'sessions/sign_up' %>
