<div id="banner" class="jumbotron">
  <div id="sign-up-button"
       class="btn btn-primary pull-right user-portal-button"
       href="#sign-up">
    Create Account
  </div>

  <div id="log-in-button"
       class="btn btn-primary pull-right user-portal-button"
       href="#log-in">
    Log In
  </div>
  <div class="container center-text">
    <h1>Time for a journey</h1>
    <h4>Find, meet, and make friends everywhere you go.</h4>
    <p>Just visiting?</p>
    <div id="jumbotron-button" class="btn">
      Explore As Guest
    </div>
  </div>
</div>

<div id="information" class="row">
  <div id="page-content" class="col-xs-6 col-xs-offset-3">
    <div class="container-fluid center-text">
      <h2>Where are you going next?</h2>
      <p> Find other users on the site who will be there at the same time you will be.</p>
    </div>
    <div class="row">
      <div class="home-image col-lg-6 col-xs-12">
        <div class="city-label col-xs-12">SAN FRANCISCO</div>
        <img src="http://res.cloudinary.com/traverse/image/upload/b_rgb:877e7e,c_fill,h_300,o_69,w_400/v1435029946/san-francisco_ivknvi.jpg" class="img-responsive center-block"/>
      </div>
      <div class="home-image col-lg-6 col-xs-12">
        <div class="city-label col-xs-12">PARIS</div>
        <img src="http://res.cloudinary.com/traverse/image/upload/b_rgb:f8f6f6,c_fill,h_300,o_62,w_400/v1435029947/paris-france_u7gxs5.jpg" class="img-responsive center-block"/>
      </div>
      <div class="home-image col-lg-6 col-xs-12">
        <div class="city-label col-xs-12">CAPE TOWN</div>
        <img src="http://res.cloudinary.com/traverse/image/upload/c_fill,h_300,w_400/v1435029949/Cape-town_vwbfx5.jpg" class="img-responsive center-block"/>
      </div>
      <div class="home-image col-lg-6 col-xs-12">
        <div class="city-label col-xs-12">SAN DIEGO</div>
        <img src="http://res.cloudinary.com/traverse/image/upload/b_rgb:b4adad,c_fill,h_300,o_77,w_400/v1435029946/San-diego_dcecls.jpg" class="img-responsive center-block"/>
      </div>
    </div>
  </div>
</div>

<%= render 'sessions/log_in' %>
<%= render 'sessions/sign_up' %>

<script>
  $(document).ready(function(){
    GuestLogin.initialize();
  });
</script>
