<div class="user-details">
  <div class="user-information-header group">
    <div class="user-information pull-left">
      <h4><%= user.get("user").name %></h4>
      <%= user.get("user").age %>
      <%= trip.get("end_date_string") %>
    </div>
  </div>
</div>
