<div id="indexview" class="col-xs-8">

  <div id="new-trip" class="trip">ADD NEW TRIP</div>
  <div id="trips-index" class="trip-index"></div>

</div>

<div id="flashview" class="col-xs-4">
    <div class="placeholder-2"></div>
</div>
