<% if (user) { %>
  <div id="requester-info"><%= user.get("name") %>, <%= user.get("age") %></div>
  <img src="<%=user.get("image_url")%>">
  <div id="accept" data-response="ACCEPTED" class="response btn btn-success">Accept</div>
  <div id="decline" data-response="DECLINED" class="response btn btn-danger">Decline</div>
<% } else { %>
  <h3>No Pending Requests</h3>
<% } %>
