<% if (user) { %>
  <%= user.get("name") %>
  <%= user.get("age") %>
  <img src="<%=user.get("image_url")%>">
  <div id="accept" class="btn btn-success">Accept</div>
  <div id="decline" class="btn btn-danger">Decline</div>
<% } else { %>
  <h3>No Pending Requests</h3>
<% } %>
