/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


#banner {
  background-color: #eee;
  margin: 0px;
  min-height: 350px;
}

.center-text {
  text-align: center;
}

#page-content {
  width: 1024px;
  margin: auto;
}

.container {
  width: 1024px;
  margin: auto;
}

#center-content {
  max-height: 900px;
}

.placeholder {
  float: left;
  background-color: #ccc;
  height: 202px;
  width: 350px;
  margin: 5px;
}

#user-portal {
  float: right;
  margin-top: 10px;
  background-color: #eee;
}

#user-portal input {
  margin:5px;
}

.placeholder-2 {
  background-color: #eee;
  min-height: 200px;
}

.profile-header {
  padding: 0px;
  margin: 0px 0px 20px 0px;
}

.profile-header > div {
  float: left;
  margin: 0px 10px 0px;
}

.profile-header > div.hometown {
  margin-top: 12px;
}

.profile-header > div.age {
  float: right;
}

.profile-blurb {
  margin: 10px;
}

.profile {
  border: 1px solid #ddd;
  background: rgba(240, 240, 240, .5
  );
}

.edit-profile {
  float: right;
  height: 30px;
  margin: 0px 10px;
}

textarea {
  height: 150px;
  width: 100%;
}

.no-border-radius {
  border-radius: 0px;
}

#edit-profile-button {
  position: absolute;
  bottom: 0px;
  width: 218px;
}

.trip {
  background: #eee;
  height: 157px;
  margin: 0px 0px 20px;
}

.content-header{
  padding: 0px;
  margin: 0px 0px 20px;
  border-bottom: 2px solid #000;
}

.content-header > h3 {
  margin: 0px 0px 10px;
}

.trip-new:hover {
  background-color: #999;
  cursor: pointer;
}

.trip-details > .city-date {
  padding: 5px;
  margin: 10px;
  float: left;
  width: 30%;
  background-color: white;
  text-align: center;
}

.city-date > h4 {
  margin: 0px;
}
