.navbar a, .navbar-nav > li > a {
  padding: 10px 15px;
}

.navbar{
  min-height: 40px;
  height: 40px;
}

#user-profile-mini {
  height: 100px;
  float: left;
}

#header-container {
  width: 1024px;
}

.users-index-item:after {
   content: "";
   display: block;
   clear: both;
}

.users-index-item h4, .users-index-item h5 {
  display: inline;
  margin: 0;
}

#profile-picture button {
  display: block;
  opacity: 0;
  position: absolute;
  bottom: -15px;
  width: 108px;
  margin: 0px;
  height: 25px;
  padding: 2px 6px;
  transition: all .3s ease;
  border-radius: 0px;
}

#upload-photo-button {
  right: 15px;
}

#upload-photo-button:hover {
  background-color: #eee;
}

#profile-picture {
  box-shadow: 2px 2px 4px 1px #CFD3D4;
  background-color: white;
  height: 220px;
  overflow: hidden;
}

#profile-picture:hover button {
  opacity: 1.0;
  bottom: 0px;
}

#profile-picture img{
  height: 220px;
}

#pending-requests .btn {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  height: 25px;
  padding: 2px 6px;
  width: 50%;
  border-radius: 0px;
}
