.navbar a, .navbar-nav > li > a {
  padding: 10px 15px;
}

.navbar{
  min-height: 40px;
  height: 40px;
}

#user-profile-mini {
  height: 100px;
  float: left;
}

.users-index-item:after {
   content: "";
   display: block;
   clear: both;
}

.users-index-item h4, .users-index-item h5 {
  display: inline;
  margin: 0;
}
