// #F5FCE0 white
// #028090 turquoise
// #114B5F darker turquoise
// #3F5F9B blue
// #F43848 red

#content-container {
  width: 1024px;
  margin: auto;
  padding: 20px;
  min-height: 800px;
}

#indexview {
  padding-left: 0px;
}

.mypanel {
  background-color: #fff;
  border-radius: 5px;
  margin: 0px 0px 5px;
  padding: 10px;
  box-shadow: 2px 2px 4px 1px #CFD3D4;
}

.trips-index-item h4, .trips-index-item h5, .trips-index-item h6 {
  margin: 0px 5px 0px 0px;
  padding: 5px 0px;
}

.trips-index-item button {
  font-size: 12px;
  height: 22px;
  padding: 2px 6px;
  margin: 0px 0px 0px 3px;
  float: right;
}

.trips-index-item:hover {
  background-color: #F8F9FC;
  cursor: pointer;
}

#flashview {
  padding: 0px;
}

#flashview h4, #flashview h5, #flashview h6 {
  margin: 0px 5px 0px 0px;
  padding: 5px 0px;
}

#flashview h5, #flashview h6 {
  display:inline;
}

#flashview h4 {
  border-bottom: 1px solid #060E14;
  margin-bottom: 5px;
}

#flashview p {
  margin-top:15px;
  padding: 25px 0px;
}

#trip-form input {
  height: 25px;
  padding: 2px;
  margin: 5px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}

#trip-form > #name {
  width: 150px;
}

#trip-form > #destination {
  width: 206px;
}

#trip-form > label {
  height: 25px;
  padding: 2px;
  margin: 5px 0px 5px 5px;
  font-weight: 400;
}

#trip-form > input[type="date"] {
  width: 137px;
  padding: 0px;
  color: grey;
}

#trip-form > button {
  height: 25px;
  padding: 2px;
  width: 370px;
  margin: 12px 0px 5px 5px;
}

#trip-form:hover {
  background-color: #fff;
}

#trip-form > h4 {
  padding: 2px;
  margin: 5px 0px 5px 5px;
}

#trip-form > #form-errors {
  font-size: 12px;
  margin-left: 10px;
  color: red;
}

#pending-requests {
  text-align: center;
  height: 240px;
  width: 240px;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  position: relative;
}

#pending-requests img {
  background-color: white;
  width: 240px;
}

#pending-requests .btn {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  height: 25px;
  padding: 2px 6px;
  width: 50%;
  border-radius: 0px;
}

#pending-requests #decline {
  right: 0;
}

#pending-requests #accept {
  left: 0;
}

#pending-requests h4 {
  text-align: left;
  font-size: 25px;
}

#pending-requests h3 {
  margin-top: 95px;
  color: #bbb;
}

#pending-requests #requester-info {
  position: absolute;
  top: 20px;
  font-size: 22px;
  font-weight: 700;
  background: rgba(255, 255, 255, .8);
  width: 100%;
}

.meeter-item {
  background-color: white;
  border: 1px solid #ccc;
  height: 51px;
  width: 51px;
  display: block;
  float: left;
  margin: 5px 0px 0px 4px;
  text-align: center;
  border-radius: 3px;
  transition: all .3s ease;
}

.meeter-search {
  display: block;
  clear: left;
  color: white;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  height: 25px;
  width: 278px;
  top: 10px;
  line-height: 1.7em;
  position: relative;
  margin-bottom: 7px;
}

.meeter-item:hover {
  -webkit-filter: grayscale(1) brightness(50%);
  filter: grayscale(1) brightness(50%);
}

.meeter-item > a:hover {
  text-decoration: none;
}
