// #F5FCE0 white
// #028090 turquoise
// #114B5F darker turquoise
// #3F5F9B blue
// #F43848 red

#content-container {
  width: 1024px;
  margin: auto;
  padding: 20px;
}

#indexview {
  padding-left: 0px;
}

.mypanel {
  background-color: #fff;
  border-radius: 5px;
  margin: 0px 0px 5px;
  padding: 10px;
  box-shadow: 2px 2px 4px 1px #CFD3D4;
}

.trips-index-item h4, .trips-index-item h5, .trips-index-item h6 {
  margin: 0px 5px 0px 0px;
  padding: 5px 0px;
}

.trips-index-item button {
  height: 25px;
  padding: 2px 6px;
  margin: 0px;
  float: right;
}

#flashview {
  padding: 0px;
}

#flashview h4, #flashview h5, #flashview h6 {
  margin: 0px 5px 0px 0px;
  padding: 5px 0px;
}

#flashview h5, #flashview h6 {
  display:inline;
}

#flashview h4 {
  border-bottom: 1px solid #060E14;
  margin-bottom: 5px;
}

#flashview p {
  margin-top:15px;
  padding: 25px 0px;
}

.trips-index-item:hover {
  background-color: #F8F9FC;
}

#trip-form input {
  height: 25px;
  padding: 2px;
  margin: 5px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}

#trip-form > #name {
  width: 150px;
}

#trip-form > #destination {
  width: 206px;
}

#trip-form > label {
  height: 25px;
  padding: 2px;
  margin: 5px 0px 5px 5px;
  font-weight: 400;
}

#trip-form > input[type="date"] {
  width: 137px;
  padding: 0px;
  color: grey;
}

#trip-form > button {
  height: 25px;
  padding: 2px;
  width: 370px;
  margin: 12px 0px 5px 5px;
}

#trip-form:hover {
  background-color: #fff;
}

#trip-form > h4 {
  padding: 2px;
  margin: 5px 0px 5px 5px;
}

#trip-form > #form-errors {
  font-size: 12px;
  margin-left: 10px;
  color: red;
}

#pending-requests {
  background-color: #eee;
  height: 220px;
  overflow: hidden;
  text-align: center;
  margin: 8px 0px 10px;
}

#pending-requests h3 {
  margin-top: 95px;
  color: #bbb;
}

.meeter-item {
  background-color: #337AB7;
  height: 51px;
  width: 51px;
  float: left;
  margin: 5px 0px 0px 4px;
  text-align: center;
  border-radius: 5px;
  transition: all .3s ease;
}

.meeter-item h3 {
  margin:0px 0px 8px;
  font-size: 40px;
  color: white;
}

.meeter-item:hover {
  background-color: #286090;
  cursor: pointer;
}

.placeholder-2 {
  background-color: #eee;
  height: 220px;
  overflow: hidden;
}

.placeholder-2:hover #edit-profile-button {
  display: block;
}

.content-header{
  padding: 0px;
  margin: 0px 0px 20px;
  border-bottom: 2px solid #000;
}

.content-header > h3 {
  margin: 0px 0px 10px;
}


// .profile-header {
//   padding: 10px;
//   margin: 0px 0px 10px 0px;
// }
//
// .profile-header > h1 {
//   margin: 0px;
// }
//
// .profile-header > h3 {
//   margin:4px 0px;
// }
//
// .profile-blurb {
//   margin: 10px;
// }
//
// .profile {
//   border: 1px solid #ddd;
//   background: rgba(240, 240, 240, .5
//   );
// }
//
// .edit-profile {
//   float: right;
//   height: 30px;
//   margin: 0px 10px;
// }
//
// textarea {
//   height: 150px;
//   width: 100%;
// }
//
// .no-border-radius {
//   border-radius: 0px;
// }
//
// #edit-profile-button {
//   display: none;
//   position: absolute;
//   bottom: 0px;
//   width: 218px;
// }
//
//
// .trip-new:hover {
//   background-color: #999;
//   cursor: pointer;
// }
//
// .trip-details {
//   padding: 10px;
// }
//
// .trip-details .city-date {
//   padding: 5px;
//   float: left;
//   margin: 0px 5px 5px 0px;
//   background-color: white;
//   /*text-align: center;*/
// }
//
// .city-date > h4 {
//   margin: 0px;
// }
//
// .trip-information-header {
//   border-bottom: 3px solid black;
// }
//
// .profile-all {
//   border: 2px solid black;
// }
//
// #user-profile-mini {
//   float: left;
//   background-color: white;
//   margin: 10px;
//   height: 140px;;
//   width: 30%;
//   border: 2px solid black;
// }
