<div class="placeholder-2">
  <img src="<%= user.get("image_url") %>">
  <a href="/#profile/edit"><button id="edit-profile-button" class="btn btn-primary btn-block no-border-radius">
    Edit Profile
  </button></a>
</div>
