<div id="profile-picture">
  <img src="<%= user.get("image_url") %>">
  <% if (user.get("id") === Traverse.userId) { %>
    <a href="/#profile/edit">
      <button id="edit-profile-button" class="btn btn-primary">
      Edit Profile
    </button></a>
    <button id="upload-photo-button" class="btn">
      Upload Photo
    </button></a>
  <% } %>
</div>
<br>

<div id="user-tags" class="mypanel group">
  <h4>Interests</h4>
  <ul id="myTags" class='tagit'>
    <% user.userInterests().each(function (interest) { %>
      <li data-id="<%=interest.get("id")%>"><%=interest.get("name")%></li>
    <% }) %>
  </ul>
  <h4>Recently Met(<%=friendsNum%>)</h4>
  <div id="friends"></div>
</div>
