<div id="profile-picture">
  <img src="<%= user.get("image_url") %>">
  <% if (user.get("id") === Traverse.userId) { %>
    <a href="/#profile/edit">
      <button id="edit-profile-button" class="btn btn-primary">
      Edit Profile
    </button></a>
    <button id="upload-photo-button" class="btn">
      Upload Photo
    </button></a>
  <% } %>
</div>
