<div id="profile-picture">
  <img src="<%= user.get("image_url") %>">
  <% if (user.get("id") === Traverse.userId) { %>
    <a href="/#profile/edit">
      <button id="edit-profile-button" class="btn btn-primary">
      Edit Profile
    </button></a>
    <button id="upload-photo-button" class="btn">
      Upload Photo
    </button></a>
  <% } %>
</div>

<br>
<br>
<br>

<div class="">
  <ul id="myTags" class='tagit'>
      <!-- Existing list items will be pre-added to the tags -->
      <li>Tag1</li>
      <li>Tag2</li>
  </ul>
</div>
