<form id="trip-form" class="trip">
  <div id="form-errors"></div>
  <input type="text" name="trip[name]" placeholder="Trip Name">
  <input type="text" name="trip[city]" placeholder="Destination City">
  <input type="text" name="trip[state]" placeholder="State">
  <input type="date" name="trip[start_date]" placeholder="Start Date">
  <input type="date" name="trip[end_date]" placeholder="End Date">
  <input type="submit" class="btn btn-primary" name="name" value="Create My Trip!">
</form>

<div id="trips-index"> </div>
