<div id="indexview" class="col-xs-8">

  <div class="trip trip-new">
    ADD NEW TRIP
  </div>
  <div id="trips" class="trip-index"> </div>
</div>
<div id="flashview" class="col-xs-4">
    <div class="placeholder-2">

    </div>
</div>
