<div class="trip-details">
  <div class="trip-information-header group">
    <div class="city-date pull-left">
      <h4><%= trip.get("trip").city %>, <%= trip.get("trip").state %></h4>
      <%= trip.get("trip").start_date_string %>
      <%= trip.get("trip").end_date_string %>
    </div>
  </div>
</div>
