<h4><%= trip.get("name") %></h4>
<h5><%= trip.get("city") %>,
  <% if (trip.get("country") === "United States" ) { %>
    <%= trip.get("state")%>
  <% } else { %>
    <%= trip.get("country")%>
  <% } %>
</h5>

<div id="request-button">
  <% if (pending_request.get("status") === "PENDING") { %>
    <div data-response="DECLINED" class="response btn btn-danger pull-right">Decline</div>
    <div data-response="ACCEPTED" class="response btn btn-success pull-right">Accept</div>
  <% } %>
</div>
