<div class="trip-details">
  <div class="trip-information-header group">
    <div class="city-date pull-left">
      <h4><%= trip.get("city").city %></h4>
      <%= trip.get("start_date_string") %>
      <%= trip.get("end_date_string") %>
    </div>
  </div>
</div>
